#game{
    width: 500px;
    height: 500px;
    margin: auto auto;
    padding: 0;
    background-color: #ffeada;
    border: 1px #000000 solid;
}

#character{
    position: absolute;
    height: 80px;
    width: 80px;
}

#ground{
    height: 10px;
    width: inherit;
    background-color: darkred;
    position: absolute;
    top: 500px;
}